/* .toy-details {
  margin-top: 150px;
} */

.toy-details {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toy-details h2,
.toy-details p {
  font-family: "lato-bold", sans-serif;
}

.img-details {
  width: 300px;
  border-radius: 8px;
}

.btn-details {
  background-color: var(--clr-main-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "lato-bold", sans-serif;
  margin-top: 30px;
}

.btn-details:hover {
  background-color: var(--clr-main-light-red);
}

.toy-details a {
  text-decoration: none;
  color: white;
}

.toy-details span {
  color: var(--clr-main-light-red);
}
