.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: var(--clr-accent);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 3px 4px 1px black;
  margin-bottom: 20px;
}

.filter-label {
  padding: 5px;
  flex-wrap: wrap;
}

.max-price,
.min-price {
  max-width: 70px;
}

input {
  border-radius: 5px;
}
