:root {
 --clr-main: #2b3990;
--clr-main-blue:rgb(89, 171, 191);
--clr-main-blue-dark:rgb(48, 78, 88);
--clr-main-light-red:rgb(233, 106, 130);
--clr2-main-light-red:#ed6565;
--clr-main-light-green:rgb(146, 169, 171);


  --clr1: #087f81;
  --clr2: #ae2012;
  --main-clr:#

  --clr1bg: #c3eddf;
  --clr1bg-light: #c1f1e1;
  --clr2bg: #ee9b00;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --clr-primary: #5d5b8d; /* primary color */
  --clr-accent: #e3d26f; /* accent color */
  --clr-light: #f0f0f0; /* light color for backgrounds */
  --clr-dark: #333; /* dark color for text */
  --clr-error: #ff6b6b; /* error color */
  --clr-success: #48c774; /* success color */
 

  --gradientPrimary: linear-gradient(
    90deg,
    rgb(15, 179, 51) 0%,
    rgb(233, 106, 130) 54%,
    rgb(95, 251, 152) 100%
  );
  --gradientPrimary2: linear-gradient(
    90deg,
    rgb(15, 179, 51) 0%,
    rgb(29, 57, 150) 54%,
    rgb(89, 171, 191) 100%
  );
}
