@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: AGENTRED;
  src: url(src/styles/fonts/agent-red/AGENTRED.TTF);
}

@font-face {
  font-family: jumbalo;
  src: url(src/styles/fonts/Jumbalo-Ea2Xn.ttf);
}

@font-face {
  font-family: lato-black;
  src: url(src/styles/fonts/Lato-Black.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(src/styles/fonts/lato-bold.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(src/styles/fonts/lato-light.ttf);
}

@font-face {
  font-family: lato-thin;
  src: url(src/styles/fonts/Lato-thin.ttf);
}
