$clr-main: #2b3990;
$clr-main-blue: #59abbf;
$clr-main-blue-dark: #304e58;
$clr-main-light-red: #e96a82;
$clr2-main-light-red: #ed6565;
$clr-main-light-green: #92a9ab;

$clr1: #087f81;
$clr2: #ae2012;

$clr1-bg: #c3eddf;
$clr1-bg-light: #c1f1e1;
$clr2-bg: #ee9b00;
$clr2-bg-light: #e9d8a6;

$gray1: #f0f0f0;
$gray2: #9b9b9b;
$gray3: #2c2c2c;

$clr-primary: #5d5b8d; /* primary color */
$clr-accent: #e3d26f; /* accent color */
$clr-light: #f0f0f0; /* light color for backgrounds */
$clr-dark: #333; /* dark color for text */
$clr-error: #ff6b6b; /* error color */
$clr-success: #48c774; /* success color */
$blue-line-about: #0000ff;

$gradientPrimary: linear-gradient(90deg, #0fb333 0%, #e96a82 54%, #5ffb98 100%);

$gradientPrimary2: linear-gradient(90deg, #e96a82 4%, rgba(89, 171, 191, 1) 97%);

$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
