.home-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
  color: $clr-primary;
  flex-wrap: wrap;
}

.home-page-slogan {
  font-size: 3.5rem;
  color: $clr1;
  font-weight: bold;
  flex: 1;
  padding: 1rem;
  max-width: 700px;
  font-weight: bold;
  font-family: AGENTRED;
  text-align: center;
}
h1 span {
  color: $clr-main-light-red;
}

.home-page img {
  max-width: 100vw;
  flex: 1;
  border-radius: 10px;
  margin: 2rem;
}

.bouncing-toy {
  animation: bounce 2s infinite;
}

.Shop-btn {
  font-family: lato-black;
  background-color: $clr-main-light-red;
  color: $gray1;
  width: 150px;
  height: 50px;
}

.Shop-btn:hover {
  transform: scale(1.2);
  background-color: $clr1;
}

.shop-btn-div {
  display: flex;
  justify-content: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .home-page {
    flex-direction: column;
    margin-top: 150px;
  }

  .home-page-slogan,
  .home-page img {
    margin: 0.2rem 0;
    justify-content: center;
  }

  .home-page-slogan {
    font-size: 1.8rem;
    text-align: center;
    font-family: AGENTRED;
  }

  .Shop-btn {
    margin-bottom: 30px;
  }

  .main-layout {
    padding: 0 0;
  }
}
