button {
  cursor: pointer;
  background-color: var(--clr2bg);
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

button:hover {
  background-color: var(--clr2);
  color: white;
  transition: 0.3s;
}
input:focus {
  background-color: var(--clr1bg);
  transition: background-color 1s;
}

/*Edit page-need to remove to other folder*/

.toy-edit {
  margin-top: 100px;
}

#name {
  margin-right: 20px;
  text-transform: uper;
}

.multi-select-edit {
  cursor: pointer;
  margin-top: 30px;
  display: flex;
  font-size: 1em;
  word-spacing: 1.5px;
}
.edit-btns {
  margin-top: 20px;
}

.edit-input {
  margin: 0 0;
  width: 100px;
}

/*login form*/
.login-name {
  color: var(--clr-main);
  font-family: lato-black;
  font-size: 1.3em;
}

.logout-btn {
  margin-left: 20px;
}

.full-name-login {
  padding-top: 10px;
}

.sign-up-txt {
  color: var(--clr-main-light-red);

  font-family: lato-bold;
}

.login-form input {
  margin-right: 10px;
}

.login-form button {
  background-color: var(--clr-main-light-red);
  color: var(--gray1);
}
