* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $clr-light;
  color: $clr-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: $gray1;
}

img,
embed,
video,
object {
  max-width: 100%;
}

.debug * {
  outline: 1px solid gold;
}

a.active {
  text-decoration: underline;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: $clr-accent;
}
