input:focus {
  background-color: $clr1-bg;
  transition: background-color 1s;
}

/*login form*/
.login-name {
  color: $clr-main;
  font-family: lato-black;
  font-size: 1.3em;
}

.logout-btn {
  margin-left: 20px;
}

.full-name-login {
  padding-top: 10px;
}

.sign-up-txt {
  color: $clr-main-light-red;
  font-family: lato-bold;
}

.login-form input {
  margin-right: 10px;
}

.login-form button {
  background-color: $clr-main-light-red;
  color: $gray1;
}

button {
  cursor: pointer;
  background-color: $clr-main-blue;
  color: $gray1;
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

button:hover {
  background-color: $clr-main-light-red;
  color: white;
  transition: 0.3s;
}
